<!DOCTYPE html>
<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps Heat map</title> 
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.29.min.js"></script>
    <script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>  
</head> 
<body>
<!--  <form id = "catForm" name = "catForm" action = "/twittmapapp" method = "get"> -->
    <select id="catSelect" name="catSelect" onchange="changeCat()">
<!--    <option value=""></option> -->
    <option value="halloween" selected="selected">thanksgiving</option>
    <option value="google">winter</option>
    <option value="ebola">ebola</option>
    <option value="obama">ferguson</option>
    <option value="obama">christmas</option>
    </select>
<!--  </form> -->
  <button onclick="toggleHeatmap()">Toggle Heatmap</button>
  <div id="posOrNeg"></div>  
  <div id="overallSentiment"></div>  
  <div id="map" style="width: 1000px; height: 800px;"></div>

  <script type="text/javascript">
    $(document).ready(function() {
        setInterval(function(){refreshQueue()}, 1000);
        initialize();
    });
    AWS.config.update({accessKeyId: 'AKIAJEEWFP5ITBUJ2JGA', secretAccessKey: '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'});
    AWS.config.region = 'us-west-2';
    var queue = new AWS.SQS({params: {QueueUrl: 'https://sqs.us-west-2.amazonaws.com/410402614078/sentiment_queue_result'}}); // using url to queue
    var locations = new Array();
    var heatmap;
    var map;
    function changeCat(){
        var element = document.getElementById('catSelect');
        var category = element.options[element.selectedIndex].text;
        current_sentiment = 'positive';
        document.getElementById('posOrNeg').innerHTML=current_sentiment;
        resetMap();
    }
    var current_sentiment = 'positive';
    function resetMap(){
        var element = document.getElementById('catSelect');
        var category = element.options[element.selectedIndex].text;

        heatmap.setMap(null);                    
        pointArray = new google.maps.MVCArray(locations[category][current_sentiment]);
        pos = locations[category]['positive'].length*100/locations[category].length;
        neg = locations[category]['negative'].length*100/locations[category].length;
        document.getElementById('overallSentiment') = "positive percent:"+pos +"\nnegative percent:"+neg;
        heatmap = new google.maps.visualization.HeatmapLayer({
            data: pointArray
        });
        heatmap.setMap(map);

    }
    function toggleHeatmap() {
        if(current_sentiment == 'positive'){
            current_sentiment = 'negative';
        }
        else if(current_sentiment == 'negative'){
            current_sentiment = 'positive';
        }
        document.getElementById('posOrNeg').innerHTML=current_sentiment;
        resetMap();
    }
    function refreshQueue(){
        queue.receiveMessage(function (err, data) {
            if (data) {
                if(data.Messages[0]) {
                //console.log(data.Messages[0]['Body']);
                    var str = data.Messages[0]['Body'];
                  //  var json = JSON.stringify(eval("(" + str + ")"));
                    var json_obj = jQuery.parseJSON(str)
                    console.log(str);
                    msg = json_obj["Message"];
                    vals = msg.split("#");
                    console.log(vals[0]+" "+vals[1]+" "+vals[2])
                    if(!(vals[3] in locations)){
                        locations[vals[3]] = new Array();
                    }
                    if(!(vals[0] in locations[vals[3]])){
                        locations[vals[3]][vals[0]] = new Array();
                    }
                    locations[vals[3]][vals[0]].push({location:new google.maps.LatLng(vals[1],vals[2]),weight:Math.abs(vals[4])});
                    resetMap();                           
                    receipt_handle = json_obj["Signature"];
                    console.log(receipt_handle);
                    queue.deleteMessage({params: {QueueUrl: 'https://sqs.us-west-2.amazonaws.com/410402614078/sentiment_queue_result',ReceiptHandle: receipt_handle}});
                }                
            }
        });
    }    
    function initialize(){
          map = new google.maps.Map(document.getElementById('map'), {
          zoom: 1,
          center: new google.maps.LatLng(-33.92, 151.25),
          mapTypeId: google.maps.MapTypeId.SATELLITE
        }); 

        var pointArray = new google.maps.MVCArray(locations);

        heatmap = new google.maps.visualization.HeatmapLayer({
        data: pointArray
        });

        heatmap.setMap(map);
   }
  </script>
</body>
</html>
