<!DOCTYPE html>
<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps Multiple Markers</title> 
 <!-- <script src="http://maps.google.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false" 
          type="text/javascript"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
    <script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>  
</head> 
<body>
  <form id = "catForm" name = "catForm" action = "/twittmapapp" method = "get">
    <select id="catSelect" name="catSelect" onchange="this.form.submit()">
    <option value=""></option>
    <option value="halloween">halloween</option>
    <option value="google">google</option>
    <option value="ebola">ebola</option>
    <option value="obama">obama</option>
    </select>
  </form>
  <div id="map" style="width: 1000px; height: 800px;"></div>

  <script type="text/javascript">
    $(document).ready(function() {
        setInterval("location.reload(true)", 10000);
    });
    var locations = new Array();
    {% if tweet_list %}
        {% for tweet in tweet_list %}
            locations.push(new google.maps.LatLng({{ tweet.latitude }}, {{ tweet.longitude }}));
        {% endfor %}
    {% endif %} 

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 1,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.SATELLITE
    });

    var pointArray = new google.maps.MVCArray(locations);
    var heatmap;
    heatmap = new google.maps.visualization.HeatmapLayer({
    data: pointArray
    });

    heatmap.setMap(map);
  </script>
</body>
</html>
